@font-face {
  font-family: 'LilyScriptOne';
  src: url("LilyScriptOne-Regular.ttf");
}
/* Site Element Styles */
/* line 11, C:/Users/GG/GitHub/RuneTimer/app/assets/stylesheets/timer.scss */
.rune-navbar {
  background-color: #044E7A !important;
}

/* line 15, C:/Users/GG/GitHub/RuneTimer/app/assets/stylesheets/timer.scss */
.rune-navbar-header {
  color: #3798D2 !important;
}

/* line 19, C:/Users/GG/GitHub/RuneTimer/app/assets/stylesheets/timer.scss */
.rune-navbar-header:hover {
  color: #91C7E7 !important;
}

/* line 23, C:/Users/GG/GitHub/RuneTimer/app/assets/stylesheets/timer.scss */
.rune-navbar-element {
  color: #3798D2 !important;
}

/* line 27, C:/Users/GG/GitHub/RuneTimer/app/assets/stylesheets/timer.scss */
.rune-navbar-element:hover {
  color: #91C7E7 !important;
}

/* line 31, C:/Users/GG/GitHub/RuneTimer/app/assets/stylesheets/timer.scss */
.rune-document {
  background-color: #0680C9 !important;
  position: fixed !important;
  width: 100% !important;
  height: 100% !important;
}

/* End Site Element Styles */
/* World List Styles */
/* line 40, C:/Users/GG/GitHub/RuneTimer/app/assets/stylesheets/timer.scss */
.world-list > li {
  cursor: pointer;
}

/* line 44, C:/Users/GG/GitHub/RuneTimer/app/assets/stylesheets/timer.scss */
.world-list-item-member {
  background-color: #044E7A !important;
}

/* line 48, C:/Users/GG/GitHub/RuneTimer/app/assets/stylesheets/timer.scss */
.world-list-item-member:hover {
  background-color: #3798D2 !important;
}

/* line 52, C:/Users/GG/GitHub/RuneTimer/app/assets/stylesheets/timer.scss */
.world-list-item-nonmember {
  background-color: #3798D2 !important;
}

/* line 56, C:/Users/GG/GitHub/RuneTimer/app/assets/stylesheets/timer.scss */
.world-list-item-nonmember:hover {
  background-color: #91C7E7 !important;
}

/* End World List Styles */
/* World List Rocks Tracked */
/* line 62, C:/Users/GG/GitHub/RuneTimer/app/assets/stylesheets/timer.scss */
.world-list-item-one-rock {
  background-color: #999999 !important;
}

/* line 66, C:/Users/GG/GitHub/RuneTimer/app/assets/stylesheets/timer.scss */
.world-list-item-one-rock:hover {
  background-color: #C5C5C5 !important;
}

/* line 70, C:/Users/GG/GitHub/RuneTimer/app/assets/stylesheets/timer.scss */
.world-list-item-two-rocks {
  background-color: #000000 !important;
}

/* line 74, C:/Users/GG/GitHub/RuneTimer/app/assets/stylesheets/timer.scss */
.world-list-item-two-rocks:hover {
  background-color: #525252 !important;
}

/* End World List Rocks Tracked */
/* World List Overlay */
/* line 81, C:/Users/GG/GitHub/RuneTimer/app/assets/stylesheets/timer.scss */
.overlay {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 65.7%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* End World List Overlay */
/* World List Spinner */
/* line 99, C:/Users/GG/GitHub/RuneTimer/app/assets/stylesheets/timer.scss */
.loader {
  font-size: 90px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 72px auto;
  position: relative;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load6 1.7s infinite ease;
  animation: load6 1.7s infinite ease;
}

@-webkit-keyframes load6 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: 0 -0.83em 0 -0.4em #ffffff, 0 -0.83em 0 -0.42em #ffffff, 0 -0.83em 0 -0.44em #ffffff, 0 -0.83em 0 -0.46em #ffffff, 0 -0.83em 0 -0.477em #ffffff;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em #ffffff, 0 -0.83em 0 -0.42em #ffffff, 0 -0.83em 0 -0.44em #ffffff, 0 -0.83em 0 -0.46em #ffffff, 0 -0.83em 0 -0.477em #ffffff;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em #ffffff, -0.087em -0.825em 0 -0.42em #ffffff, -0.173em -0.812em 0 -0.44em #ffffff, -0.256em -0.789em 0 -0.46em #ffffff, -0.297em -0.775em 0 -0.477em #ffffff;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em #ffffff, -0.338em -0.758em 0 -0.42em #ffffff, -0.555em -0.617em 0 -0.44em #ffffff, -0.671em -0.488em 0 -0.46em #ffffff, -0.749em -0.34em 0 -0.477em #ffffff;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em #ffffff, -0.377em -0.74em 0 -0.42em #ffffff, -0.645em -0.522em 0 -0.44em #ffffff, -0.775em -0.297em 0 -0.46em #ffffff, -0.82em -0.09em 0 -0.477em #ffffff;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    box-shadow: 0 -0.83em 0 -0.4em #ffffff, 0 -0.83em 0 -0.42em #ffffff, 0 -0.83em 0 -0.44em #ffffff, 0 -0.83em 0 -0.46em #ffffff, 0 -0.83em 0 -0.477em #ffffff;
  }
}
@keyframes load6 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: 0 -0.83em 0 -0.4em #ffffff, 0 -0.83em 0 -0.42em #ffffff, 0 -0.83em 0 -0.44em #ffffff, 0 -0.83em 0 -0.46em #ffffff, 0 -0.83em 0 -0.477em #ffffff;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em #ffffff, 0 -0.83em 0 -0.42em #ffffff, 0 -0.83em 0 -0.44em #ffffff, 0 -0.83em 0 -0.46em #ffffff, 0 -0.83em 0 -0.477em #ffffff;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em #ffffff, -0.087em -0.825em 0 -0.42em #ffffff, -0.173em -0.812em 0 -0.44em #ffffff, -0.256em -0.789em 0 -0.46em #ffffff, -0.297em -0.775em 0 -0.477em #ffffff;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em #ffffff, -0.338em -0.758em 0 -0.42em #ffffff, -0.555em -0.617em 0 -0.44em #ffffff, -0.671em -0.488em 0 -0.46em #ffffff, -0.749em -0.34em 0 -0.477em #ffffff;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em #ffffff, -0.377em -0.74em 0 -0.42em #ffffff, -0.645em -0.522em 0 -0.44em #ffffff, -0.775em -0.297em 0 -0.46em #ffffff, -0.82em -0.09em 0 -0.477em #ffffff;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    box-shadow: 0 -0.83em 0 -0.4em #ffffff, 0 -0.83em 0 -0.42em #ffffff, 0 -0.83em 0 -0.44em #ffffff, 0 -0.83em 0 -0.46em #ffffff, 0 -0.83em 0 -0.477em #ffffff;
  }
}
/* End World List Spinner */
