<nav class="navbar navbar-default navbar-fixed-top rune-navbar">
   <div class="container-fluid">
      <div class="navbar-header">
         <a class="navbar-brand rune-navbar-header" href="/" style="font-family:LilyScriptOne;">Rune Timer</a>
      </div>
   </div>
</nav>

<div class="modal fade" id="alert-modal">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-body">
            <div class="alert alert-info" role="alert">
               <strong>Info: </strong>
            </div>
         </div>
         <div class="modal-footer" style="display:flex;justify-content:center;align-items:center;">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
         </div>
      </div>
      <!-- /.modal-content -->
   </div>
   <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<li id="world-list-item-template" class="list-group-item" style="display:none;color:white;"><span class=""></span> </li>

<li class="list-group-item" id="world-timer-item-template" style="display:none;">
   <div class="row" style="display:flex;justify-content:center;align-items:center;">
      <div class="col-md-2" style="display:flex;justify-content:center;align-items:center;">
         <label class="world-timer">6:00</label>
      </div>
      <div class="col-md-2" style="display:flex;justify-content:center;align-items:center;">
         <div class="world-number">
            <label>World: </label>
         </div>
      </div>
      <div class="col-md-5" style="display:flex;justify-content:center;align-items:center;">
                  <div class="btn-group" data-toggle="buttons" style="pointer-events:none;">
                     <label class="btn btn-default">
                     <input type="checkbox" id="rock-one" value="1">
                     Rock One
                     </label>
                     <label class="btn btn-default">
                     <input type="checkbox" id="rock-two" value="2">
                     Rock Two
                     </label>
                  </div>
      </div>
      <div class="col-md-3" style="display:flex;justify-content:center;align-items:center;">
         <div class="btn-group" role="group" style="float:right;">
            <button type="button" class="btn btn-info timer-item-refresh"><span class="glyphicon glyphicon-repeat"></span></button>
            <button type="button" class="btn btn-danger timer-item-remove"><span class="glyphicon glyphicon-remove"></span></button>
         </div>
      </div>
   </div>
</li>

<li class="list-group-item" id="spec-world-timer-item-template" style="display:none;">
   <div class="row" style="display:flex;justify-content:center;align-items:center;">
      <div class="col-md-2">
         <label>6:00</label>
      </div>
      <div class="col-md-2">
         <label for="world-number">World: </label>
      </div>
      <div class="col-md-5">
        <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-default">
                <input type="radio" id="rock-one" value="1">
                Rock One
            </label>
            <label class="btn btn-default">
                <input type="radio" id="rock-two" value="2">
                Rock Two
            </label>
            <label class="btn btn-default">
                <input type="radio" id="rock-zero" value="0">
                Both
            </label>
        </div>
      </div>
      <div class="col-md-3">
         <div class="btn-group" role="group" style="float:right;">
            <button type="button" class="btn btn-success timer-item-refresh"><span class="glyphicon glyphicon-ok"></span></button>
            <button type="button" class="btn btn-warning timer-item-refresh"><span class="glyphicon glyphicon-refresh"></span></button>
            <button type="button" class="btn btn-danger timer-item-remove"><span class="glyphicon glyphicon-remove"></span></button>
         </div>
      </div>
   </div>
</li>

<div class="container rune-document" style="padding-top:70px;overflow:auto;">
   <div class="row" style="height:100%;">
      <div class="col-md-4">
         
         <div class="overlay" id="world-list-overlay" style="height:100%;display:none;">
         <div class="loader">
           Loading…
         </div>
         </div>
      
         <div class="col-md-3" style="padding:0px;">
            <ul id="world-list-1" class="list-unstyled world-list">
            </ul>
         </div>
         <div class="col-md-3" style="padding:0px;">
            <ul id="world-list-2" class="list-unstyled world-list">
            </ul>
         </div>
         <div class="col-md-3" style="padding:0px;">
            <ul id="world-list-3" class="list-unstyled world-list">
            </ul>
         </div>
         <div class="col-md-3" style="padding:0px;">
            <ul id="world-list-4" class="list-unstyled world-list">
            </ul>
         </div>
      </div>
      <div class="col-md-8">
         <ul class="list-unstyled" id="world-timer-list">
            <li class="list-group-item" id="add-timer-form">
               <div class="form-group">
                  <label for="world-number-input">World #</label>
                  <input type="text" class="form-control" id="world-number-input" placeholder="Number">
               </div>
               <div class="form-group">
                  <div class="btn-group" data-toggle="buttons" id="rock-number-input-list">
                     <label class="btn btn-default">
                     <input type="checkbox" id="rock-one" value="1">
                     Rock One
                     </label>
                     <label class="btn btn-default">
                     <input type="checkbox" id="rock-two" value="2">
                     Rock Two
                     </label>
                  </div>
                  <div class="btn-group" data-toggle="buttons" style="float:right;">
                     <label class="btn btn-default">
                     <input type="checkbox" value="">
                     Speculative Timer
                     </label>
                  </div>
               </div>
               <div style="text-align:center;">
                  <button type="submit" class="btn btn-default" id="start-timer">Start Timer</button>
               </div>
            </li>
         </ul>
      </div>
   </div>
</div>
