<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="/assets/Runite_ore_rock_old.ico" type="image/x-icon">
    <link rel="icon" href="/assets/Runite_ore_rock_old.ico" type="image/x-icon">

  <title>RuneTimer</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
